html,body{
	font-size: 16px;
  overflow-x: hidden;

}
body{
	background: $bWhite;
	font-family: 'Lato', sans-serif;
	h1,h2,h3,h4,h5,h6{
		font-family: sans-serif;
	}
}




nav.pushy{
	background: $bDark;
}
.pushy-open-left .site-overlay{
	background: rgba(0, 0, 0, 0.7);
}

#menu-top-offcanvas,#pre-menu-top-offcanvas{
	display: block;
	margin: 0;
	padding: 1rem 0;
	line-height: 1.3;
	li{
		display: block;
		margin: 0;
		padding: 0;
		a{
			display: block;
			margin: 0;
			padding: .3rem 1rem;
			font-size: 1rem;
			color: $bWhite;
		}
	}
}
#pre-menu-top-offcanvas{
	padding-top: 0;
	li{
		a{
			padding: .3rem 1rem;
			font-size: .8rem;
		}
	}
}
#offcanvas-contact{
	margin: 0;
	padding: 0;
	ul{
		margin: 0;
		padding: 0;
		li{
			padding: .3rem 1rem;
			color: $bWhite;
			font-size: .8rem;
			address,span{
				display: inline-block;
				vertical-align: top;
			}
			span{
				padding: 0 0 0 5px;
			}
			a{
				color: $bWhite;
				padding: 0 0 0 5px;
				display: inline-block;
			}
		}
	}
}
#offcanvas-logo{
	background: $bYellow;
	padding: .5rem;
	img{
		display: block;
		max-width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}
$logoWidth: 15rem;
$logoWidthTablet: 10rem;
$logoWidthMobile: 9rem;
header{
	background: $bYellow;

	#header-innner-flex{
    display: flex;
    #hi-logo{
    	width: $logoWidth;
    	@media only screen and (max-width: 1000px) and (min-width: 750px){
    		width: $logoWidthTablet;
    	}
    	@media only screen and (max-width: 750px){
    		width: $logoWidthMobile;
    	}
    }

	}
	#header-logo{
		
		position: absolute;
		display: block;
		width: $logoWidth;
		padding: 2rem;
		background: $bYellow;
		box-shadow: 0 1px 20px 0px rgba(0,0,0,.5);
		z-index: 1;
		@media only screen and (max-width: 1000px) and (min-width: 750px){
			width: $logoWidthTablet;
			padding: 1rem;
		}
		@media only screen and (max-width: 750px){
			width: $logoWidthMobile;
			padding: .5rem;
		}
	}
}
#hi-navs{
	flex:1;
	#hin-1{
		background: $bDark;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $bLight;
		padding: .5rem 1rem;
		font-size: .8rem;
		#lang-switch{

			a{
				float: right;
				display: inline;
				width: 1.5rem;
				img{
					display: block;
					width: 100%;
					height: auto;
				}
				&#switch-lv{
					margin-left: 5px;
				}
			}
		}
		a{
			color: $bLight;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				margin-right: 1rem;
			}
		}

		@media only screen and (max-width: 1000px) and (min-width: 620px){
			justify-content: flex-end;
			span{
				margin-right: 1rem;
			}
			ul{
				display: none;
			}
		}
		@media only screen and (max-width: 620px){
			justify-content: flex-end;
			ul,span{
				display: none;
			}
            
		}
	}
	#hin-2{
		display: flex;
		justify-content: space-between;
		position: relative;
		#cart-nav{

			color: $bDark;
			
			text-decoration: none;
			width: 6.5rem;
			
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.menu-btn{
            color: $bDark;
			background-color: transparent;
			border: 0;
			&:focus,&:active{
				outline: 0;
			}
		}
		ul{
			flex: 1;
			margin: 0;
			padding: 0 1rem;
			display: flex;

			li{
				display: inline-block;
				
				a{
					height: 100%;
					text-align: center;
					display: inline-block;
					font-size: .85rem;
					text-transform: uppercase;
					color: $bDark;
					padding: 2rem .7rem;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			> .current-menu-item a{
				background: rgba(255,255,255,.5);
				text-decoration: none;
				cursor: default;
			}
		}
		@media only screen and (min-width: 1000px){
			.menu-btn{
				display: none;
			}
		}
		@media only screen and (max-width: 1000px) and (min-width: 620px){
			justify-content: flex-end;
			
			ul{
				display: none;
			}
			.menu-btn,#cart-nav{
				padding: 1rem .3rem;
			}
			.menu-btn{
				font-weight: bold;
			}
		}
		@media only screen and (max-width: 620px){
			justify-content: flex-end;
			ul{
				display: none;
			}
			.menu-btn,#cart-nav{
				padding: 1rem .3rem;
			}
			.menu-btn{
				font-weight: bold;
            }
		}
		@media only screen and (max-width: 400px){
			#cart-nav{
				padding: .5rem;
                margin-right: 1rem;
			}
			.menu-btn{
				// font-size: .7rem;
				font-size: 1.5rem;
				padding: .5rem;
				margin-left: 0;
				span{
					display: none !important;
				}
			}
		}
	}
}


.cta{
	@extend .anim;
	cursor: pointer;
	outline: 0;
	&:focus{
		outline:0;
	}
	&:hover{
		opacity: .8;
		box-shadow: 0 0 5px 0 rgba(0,0,0,1);
	}
	&:active{
		box-shadow: inset 0 0 5px 0 rgba(0,0,0,1);
	}
}


$carousel_height: 20rem;

#carousel{

	display: block;
	.slick-dots{
		bottom:0;
		position: absolute;
		z-index: 9999;
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 0 0 .5rem;
		li{
			list-style: none;
			
			display: inline-block;
			margin: 0 .5rem;
			button{
				font-size: 0;
		    line-height: 0;
		    display: block;
		    width: .7rem;
		    height: .7rem;
		    padding: 5px;
		    cursor: pointer;
		    color: transparent;
		    border: 0;
		    outline: none;
		    background: #333;
		    border-radius: 50%;
		    opacity: .9;
		    cursor: pointer;

			}
			&.slick-active button{
				background: $bYellow;
			}
		}
	}
	.slider{
		visibility: hidden;
		height: 0;

		&.slick-initialized{
			visibility: visible;
			height: $carousel_height;
		}
	}
	.slick-arrow{
		display: none !important;

	}
	.slick-slide{
		background-color: #c8c8c8;
		background-position: center center;
		background-size: cover;
		color: $bWhite;
		text-align: center;
		display: flex;
		min-height: $carousel_height;
		justify-content: center;
		align-items: center;
		flex-direction:column;
		h3{
			font-size: 2rem;
			text-shadow: 0 2px 6px #000;
		}
	}
	.cta{
		background: rgba(255,255,255,.8);
		color: $bDark;
		padding: 1rem;
	}
}

#home .row{
	display: flex;
	align-items: center;
	#home-feat-pic{
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
	#home-description-heading{
		@media only screen and (max-width: 1000px) and (min-width: 750px){
    		font-size: 1.6rem;
    	}
    	@media only screen and (max-width: 750px){
    		font-size: 1.3rem;
    	}
	}
}

#carousel-wrap{
	padding-top: 20px;
	padding-bottom: 20px;
}

#carousel{
	width: 100%;
	height: auto;
	max-height: 342px;
	overflow: hidden;
	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

.page-id-5,.page-id-11{
	#page-inner{
		margin-bottom: 20px;
	}
}
#cat-nav{
	@extend .anim;
	&.searching{

		transform: translateX(-1000px);
		position: absolute;
	}
	@media only screen and (max-width: 768px){
		background: #f00;
		display: none;
	}
}
#product-loop-wrap{
	overflow: hidden;
	padding: 0;
	@extend .anim;

	
  .product{
		width: 33.3%;
        height: 1px;
        min-height: 290px;
  }
  &.searching{
  	width: 100%;
  	.product{
  		width: 24.4%;
  		margin: 0 0.28%;
  		@media only screen and (max-width: 700px) and (min-width: 420px){
  			width: 33.3%;
  			margin: 0;
  		}
  		@media only screen and (max-width: 420px){
  			width: 46%;
  			margin: 0 1%;
  		}
  	}
  }
}
#product-loop-wrap .product{
	
	a{
		display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        text-decoration: none;
        color: $bDark;
        border-right: 1px solid $bYellow;
        border-bottom: 1px solid $bYellow;
        &:hover{
            color: $bDark;
            text-decoration: none;
            .img-container{
                transform: scale(1.2);
            }
        }

        .img-container{
            width: 100%;
            height: 150px;
            display: block;
            transition: all 400ms ease;
            margin-top: 30px;
            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
        .type{
            display: block;
            font-size: 11px;
            font-style: italic;
            line-height: 1.2;
            font-weight: normal;
            
            background: #fff;
            position: absolute;
            transform: translateY(-15px);
            padding: 2px;
            margin-top: auto;
        }
        .name{
            display: block;
            z-index: 2;
            position: relative;
        }
        .prices{
            font-weight: bold;
            font-size: 13px;
            line-height: 1.1;
        }
        

        .buy{
            background: $bYellow;
            display: block;
            padding: 2px 8px;
            font-weight: bold;
            margin-left: auto;
        }
        .details{
            display: flex;
            justify-content: space-between;
            align-items: end;
            flex-wrap:wrap;
            margin-top: auto;
            &__description{
                width: 100%;
                .name{
                    text-align: left;
                    padding: 0 2px;
                }
                
            }
            .price-row{
                padding: 0 2px;
            }
        }
	}
}






#products-page{
	padding-top: 20px;
    margin: 0 auto;
    @include media-breakpoint-down(md){
        margin-left: 1rem;
        margin-right: 1rem;
    }

}
.the-content{
	overflow: hidden;
	color: $bDark;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	
	a{
		color: #609;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
	h1,h2,h3,h4,h5,h6{
		margin-top: 20px;
		margin-bottom: 0;
		font-family: sans-serif;
	}
	img{
		max-width: 100%;
		height: auto !important;
	}
    h1,h2,h3,h4,h5,h6{
        line-height: 1.4;
    }
	h1{ font-size: 2rem;}
	h2{ font-size: 1.8rem;}
	h3{ font-size: 1.6rem;}
	h4{ font-size: 1.4rem;}
	h5{ font-size: 1.2rem;}
	h6{ font-size: 1.2rem;}
	p,ul,ol{
		margin-bottom: 20px;
		margin-top: 0;
	}
	ul,ol{
		padding-left: 20px;
		li{
			margin-bottom: 5px;
		}
	}
	ul{list-style-type: disc;}
	ol{list-style-type: decimal;}
	.alignleft,.alignright{
		display: inline;
	}
	.aligncenter{
		display: block;
		margin:0 auto;
	}
	.alignleft,.alignright,.aligncenter{
		margin-bottom: 20px;
	}
	.alignleft{
		float:left;
		margin-right: 20px;
	}
	.alignright{
		float:right;
		margin-left: 20px;
	}
}
.page-template-tpl-product .the-content a{
	text-decoration: underline;
	color: #337ab7;
	&:hover{
		color: #f00;
	}
}



#cat-nav{
	.button-group{
		padding: 0 0 10px;
		button{
			display: block;
			width: 100%;
			text-align: left;
			margin: 0;
			padding: 4px 5px 4px 8px;

			background: $bYellow;
			color: $bDark;
			border:0;
			outline: 0;
			text-transform: capitalize;

			margin-bottom: 1px;

			&:focus{
				outline: 0;
			}
			&.is-checked{
				opacity: .7;
			}

			.fa.pull-right{
				margin-top: 4px;
				width: 20px;
			}
			.fa.fa-rotate-90.pull-right{
				margin-right: 4px;
			}
		}
	}
}

.button-group{

	button{
		
		


		@media only screen and (max-width: 992px){
			font-size: 12px;
		}
	}
	@media only screen and (max-width: 710px){
		display: none !important;
	}
}

#page{
	padding-top: 3rem;
	padding-bottom: 2rem;
}
#product{
	padding-top: 5rem;
	padding-bottom: 2rem;
	@media only screen and (max-width: 1000px) and (min-width: 767px){
		padding-top: 2.5rem;
	}
	@media only screen and (max-width: 767px){
		padding-top: 1.5rem;
	}
}
#page-inner,#checkout-page{
	// padding: 2rem;
	padding: 2rem 0 0;
	background: #fff;
	@media only screen and (max-width: 1000px) and (min-width: 767px){
		padding-top: 2.5rem;
	}
	@media only screen and (max-width: 767px){
		padding-top: 1.5rem;
	}
}
#checkout-page{
	margin-bottom: 3rem;
}
.product-meta{
	font-size: .7rem;
	margin: 0 0 1rem;
}
#page-heading{
	margin: 0;
}
#product-heading{
	margin: 0;
	span{
		display: block;
	}
	.type{
		font-style: italic;
		font-size: 14px;
		font-weight: normal;
	}
	.name{
		font-size: 30px;
	}
  .popular{
    
    color: #f00;
    font-style: italic;
    font-size: 12px;
    
  }
}
#product-pic{
	img{
		display: block;
		width: 100%;
		height: auto;
		@media only screen and (max-width:767px){
			max-width: 200px;
			margin-left: auto;
			margin-right: auto;
		}

	}
}

#product-nav{
	float: right;
	display: inline;
	margin: 0;
	padding: 0;
	li{
		float: right;
		display: inline;
		margin: 0 0 0 3px;
		padding: 0;
		a{
			float: right;
			display: inline;
			padding: 4px 8px;
			background: $bYellow;
			color: $bDark;
		}
	}
}

#prices{
	margin-bottom: 10px;
	width: 300px;
	background: $bYellow;
	#prices-heading{
		padding: 5px 10px;
		font-weight: bold;
		font-size: 16px;
	}
	.price-row{
		padding: 5px 10px;
		background: $bDark;
		color: $bYellow;
		text-align: right;
		border-bottom: 1px solid #fff;
		.price{
			font-weight: bold;
			font-size: 18px;
		}
		input{
			width: 25px;
			margin: 0 0 0 5px;
			color: $bYellow;
			text-align: center;
			border: 1px solid $bYellow;
			background: $bDark;
		}
		a.to-cart{
			background: $bYellow;
			color: $bDark;
			margin-left: 0;
			padding: 3px 5px 4px;
			&:hover,&:active,&:focus{
				text-decoration: none !important;
			}
			&:hover{
				opacity: .9;
			}
			&:active{
				background: green;
			}
		}
	}
	#order-button{
		display: block;
		font-weight: bold;
		text-align: center;
		padding: 5px;
		cursor: pointer;
		border: 2px solid $bDark;
		text-decoration: none;
		color: $bDark;
	}
}
#text-how-to-order{
	display: none;
	margin: -10px 0 10px;
	border: 2px solid $bDark;
	padding: 0 20px;
}
.wp-image-439{
	float: right;
	display: inline;
}


#cart-empty,#checkout-complete{
	background: #fafcd0;
	text-align: center;
	padding: 30px 10px 20px;
	p a{
		font-weight: bold;
	}
}
#checkout-complete{
	display: none;
}
#checkout-table{
	overflow: hidden;
	width: 600px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	.checkout-row{
		border-bottom: 1px solid #d6df10;
		overflow: hidden;
		padding: 10px;
		.product-name,.product-price{
			float: left;
			display: inline;
		}
		.product-name{
			width: 50%;
			a{
				font-weight: bold;
				color: #333;
			}
		}
		.product-price{
			width: 49.8%;
			text-align: right;
			.product-price-single,.product-price-total,.times,.equals,.product-qty,.cart-remove{
				display: inline-block;
			}
			.product-qty input{
				width: 30px;
				text-align: center;
			}
			.product-price-total{
				font-weight: bold;
			}
			.cart-remove{
				opacity: .3;
				color: #333;
				margin-left: 10px;
				&:hover{
					opacity: .8;
				}
			}
		}
	}
	#checkout-total{
		font-weight: bold;
		text-align: right;
		border-top: 1px solid #b8bf0d;
		padding: 10px;
		font-size: 18px;
	}
}

#checkout-delivery-options{
	background: #fafcd0;
	padding: 20px 20px 20px 40px;
	.checkout-delivery-option{
		float: right;
		clear: right;
		display: inline;
		width: 70%;
		font-size: 14px;
		padding: 7px 10px 5px;
		cursor: pointer;
		.dco-show{
			display: inline-block;
			width: 18px;
			margin-right: 2px;
			text-align: center;
		}
		.fa-check-circle{
			display: none;
		}
		&.selected{
			background: #e5ee12;
			cursor: default;
			.fa-check-circle{
				display: inline;
			}
			.fa-circle-o{
				display: none;
			}
		}
	}
}
#delivery-info{
	display: block;
	clear: both;
}
#delivery-deliver{
	padding: 20px;
	background: #fafcd0;
	display: none;
	textarea{
		width: 400px;
		max-width: 100%;
		margin: 10px auto 0;
		display: block;
		border: 1px solid #b8bf0d;
		padding: 5px;
	}

	.error{
		display: none;

		border: 1px solid #f00;
		background: #f00;
		color: #fff;
		margin-left: auto;
		margin-right: auto;
		width: 400px;
		max-width: 100%;
		padding: 5px 10px 4px;
		font-size: 12px;
		font-weight: bold;
	}
}


#checkout-contact-wrap{
	padding: 20px;
	background: #fafcd0;
	.cc-row{
		overflow: hidden;
		padding: 5px 0;

		label{
			display: none;
		}
		input{
			margin-left: auto;
			margin-right: auto;
			display: block;
			width: 300px;
			max-width: 100%;
			border: 1px solid #b8bf0d;
			padding: 7px 10px 4px;
			font-size: 16px;
		}
		::-webkit-input-placeholder{color: #7b8009;}
		:-moz-placeholder{color: #7b8009;}
		::-moz-placeholder{color: #7b8009;}
		:-ms-input-placeholder{color: #7b8009;}
		.error{
			display: none;

			border: 1px solid #f00;
			background: #f00;
			color: #fff;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
			max-width: 100%;
			padding: 5px 10px 4px;
			font-size: 12px;
			font-weight: bold;
		}
	}
}
#checkout-submit-hidden{
	position: absolute;
	margin-left: -9999px;
}
#checkout-submit{
	display: inline;
	float: right;
	margin-top: 10px;
	padding: 6px 12px 6px 8px;
	background: #7b8009;
	color: #fff;
	font-size: 18px;
	&:hover,&:active,&:focus{
		text-decoration: none;
		opacity: .8;
	}
}



#availability{
	#availability-available,#availability-not-available{
		padding: 5px 10px;
		text-align: center;
		color: #fff;
	}
	#availability-available{
		background: green;
	}
	#availability-not-available{
		background: #f00;
	}
}


#dc-wrap{

	max-width: 100%;
	.city-name{
		display: block;
		border-bottom: 1px solid $bDark;
		padding-bottom: 5px;
	}
}
.distributor{
	overflow: hidden;
	border-left: 3px solid #ccc;
	padding-left: 10px;
	margin: 10px 0;
	.distributor-logo{
		@extend .fr;
		height: auto;
		width: auto;
		max-height: 100px;
		max-width: 25%;
	}
	.details{
		padding-left: 20px;
	}
	.name{
		margin: 0;
	}
}





.product-category-wrap{
	display: block;
	padding-top: 15px;
	.product-category-title{
		display: block;
		color: $bYellow;
		padding: 5px;
		border-bottom: 2px solid $bYellow;
		font-size: 18px;
		line-height: 1.4;
		text-transform: capitalize;

		&:focus{
			text-decoration: none;
			opacity: .6;
			cursor: default;
		}
	}
	.product-category{
		display: none;

		background: #fff;
		border-top: 1px solid $bDark;
		border-bottom: 2px solid $bYellow;

		a.pc-product{
			display: block;
			color: $bDark;
			padding: 3px 7px;
			border-bottom: 1px solid $bDark;
			overflow: hidden;

			font-size: 14px;
			span.use{
				font-size: 12px;
				font-style: italic;
			}
			span.price{
				float: right;
				display: inline;
				font-weight: bold;
				font-size: 12px;
			}


			&:visited{
				color: #666;
			}
		}
	}
}


.spc-site-feat-wrap{
	padding-bottom: 30px;
	.spc-site-feat{
		background: #fff;
		padding: 20px;
		font-size: 16px;
		p{
			margin: 0;
		}
		i{
			margin-right: 10px;
		}
	}
}







#footer-container{
	background: #323232;
	background: -moz-linear-gradient(top, #323232 0%, #323232 90%, #202020 100%);
	background: -webkit-linear-gradient(top, #323232 0%,#323232 90%,#202020 100%);
	background: linear-gradient(to bottom, #323232 0%,#323232 90%,#202020 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#202020',GradientType=0 );
	
	padding: 2rem 0 3rem;

	color: $bWhite;
	box-shadow: 0 -1px 0 1px #585858,0 -1px 0 2px #202020,0 -1px 0 3px #e4e4e5;
	// border-top:
	a{
		color: $bYellow;
		text-decoration: none;
		address,&.footer-phone{
			color: $bWhite;
		}
	}
	span.icon{
		width: 1.5rem;
		display: inline-block;
		text-align: center;
	}
	span.footer-work-hours{
		display: inline-block;
	}
	address{
		display: inline-block;
	}
	h4{
		margin-bottom: 1rem;
	}
	ul{
		padding: 0;
		margin: 0;
		li{
			list-style: none;
			line-height: 2rem;
			vertical-align: top;
			span{
				vertical-align: top;
			}
		}
	}
	.footer-col-large .menu{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: center;
		li{
			margin-right: 1rem;
		}
		@media only screen and (max-width: 770px){
			display: none;
		}
	}
	#footer-social{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 1rem;
		position: relative;
		li{
			margin-right: 1rem;
			a{
				@extend .anim;
				background: $bWhite;
				color: $bDark;
				
				display: flex;
				justify-content: center;
				align-items: center;
				width: 3rem;
				height: 3rem;
				font-size: 2rem;

				opacity: .51;
				@media only screen and (max-width: 400px){
					width: 2.2rem;
					height: 2.2rem;
					font-size: 1.8rem;
				}
				&:hover{
					opacity: 1;
				}
			}
			&#salidzini{
				
				
				width: 150px;
				margin: 0;
				
				position: absolute;
				top:0;
				right:0;
				a{
					width: 100%;
					height: auto;
					
				}
			}
		}
	}
}

#copyright-container{
	background: #ebeeee;
	font-size: .8rem;
	padding: 1rem 0;
}
#devby{
	text-align: right;
	a{
		color: $bDark;
		opacity: .3;
		font-weight: bold;
		text-decoration: none;
		@extend .anim;
		&:hover{
			opacity: 1;
		}
	}
}


.blog{
	.feat-heading{
		margin-top: 5rem;
		margin-bottom: 2rem;
	}

}
.feat-heading{
	background: #f1f1f1;
	display: flex;
	align-content: flex-start;
	justify-content:center;
	margin-bottom: 2rem;
	.chevron,h4{
		height: 2.5rem;
		line-height: 2.5rem;
		margin: 0;
	}
	h4{
		background: $bWhite;
		// width: 10rem;
		padding-left: 2rem;
		padding-right: 2rem;
		text-align: center;
		text-transform: uppercase;
	}
	.chevron{
		// background: #d61917;
		position: relative;
		background: #f00;
		content:" ";
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		
		&:after{

			position: absolute;
	 		left:3px;
	 		top:3px;
	    display: block;
	    width: 1.25rem;
	    height: 1.25rem;
	    border-color: #f2b6b5;
	    border-width: 0 2px 2px 0;
	    border-style: solid;
	    content: "";
	    transform: rotate(45deg) skewX(0deg);
	    transform-origin: bottom center;
	  }

	  &:first-of-type{
			transform: rotate(90deg);
	  }
	  &:last-of-type{
			transform: rotate(-90deg);
	  }
	}
}
#news-first-item{

	.the_content{
		color: #54616f;
		font-size: .8rem;
		padding-bottom: 1rem;
	}
}

#news-first-item,.small-news-item{
	h4{
		margin: 0;
		a{
			color: $bDark;
			font-weight: normal;
		}
	}
	span.date{
		color: #bdbbbb;
		font-size: .8rem;
	}
}
#news-first-item,.small-news-item{
	border-bottom: 1px solid #ececec;
	padding-top: .5rem;
	padding-bottom: .5rem;
}
#all-posts-link{
	padding-bottom: 2rem;
	padding-top: 1rem;
	a{
		font-weight: bold;
		color: $bDark;
	}
}

#brands{
	h5{
		display: block;
		text-align: center;
		color: #6c6c6a;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.4rem;
		margin: 2rem 0 1rem;
		@media only screen and (max-width: 1000px) and (min-width: 750px){
			font-size: 1rem;
		}
		@media only screen and (max-width: 750px){
			font-size: 0.9rem;
		}
	}
	#brand-logos{
		display: flex;
		flex-wrap:wrap;
		justify-content:space-around;
		align-items:center;
	  padding: 0;
	  margin: 0;
		// max-height: 7rem;
		border-top: 2px solid $bYellow;
		border-bottom: 2px solid $bYellow;
		margin-bottom: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;

	  img{
	  	display: block;
	  	max-width: 5rem;
	  	max-height: 5rem;
	  	height: auto;
	  }
	}
}


#popular_products{
	padding-bottom: 2rem;
	.row{
		display: flex;
		justify-content: center;
		align-content: flex-start;


	}
}

#popular_products .row,#product-loop-wrap{
	.product{
		padding: .5rem;
		@extend .fl;
		a{
			color: #444;
			text-align: center;
			text-decoration: none;
			@extend .anim;
			opacity: .9;
			&:hover{
				opacity: 1;
			}
			img{
				max-width: 80%;
				margin-left: auto;
				margin-right: auto;
			}
			.type{
				font-size: .7rem;
				color: #444;
			}
			.name{
				font-size: .9rem;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			.buy{
				border: 0;
				display: block;
				text-align: center;
				max-width: 80%;
				color: $bWhite;
				text-decoration: none;
				&:hover,&:active{
					text-decoration: none;
				}
			}

			.prices{
				position: relative;
				display: inline-block;
				border: 0;
				background-color: transparent;
				padding: 0 0 .5rem;
				top: auto;
			}
		}
	}

	@media only screen and (max-width: 700px){
		flex-wrap: wrap;

		.product{
			width: 46%;
            margin: 0 1%;

			padding: 1rem 0;
		}
	}
}






#products-page-heading{
	display: flex;
	justify-content: space-between;

	padding-top: 3rem;
	padding-bottom: 0;
	margin-bottom: 2rem;
	border-bottom: 2px solid $bYellow;
	#products-search{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		input{
			border: 1px solid $bDark;
			padding: .5rem;
			color: $bDark;
		}
	}
}



#become-partner-wrap{
	h2{
		margin-top: 0;
	}
	@media only screen and (max-width: 767px){
		h2{
			font-size: 1.4rem;
		}
	}
}








#oil-request{
	display: block;
	position: absolute;
	bottom:0;
	right:0;
	border:2px solid red;
	background: #f00;
	color: #fff;
	opacity: .9;
	padding: 10px 15px;
	transform: translateY(100%);
	z-index: 2;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
	box-shadow: 0 3px 20px rgba(0,0,0,.3);
	font-weight: bold;
	font-size: 14px;
	@extend .anim;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3535+0,ff0000+39 */
background: #ff3535; /* Old browsers */
background: -moz-linear-gradient(top, #ff3535 0%, #ff0000 39%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff3535 0%,#ff0000 39%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff3535 0%,#ff0000 39%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3535', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
	&:hover{
		opacity: 1;
		text-decoration: none;
		text-shadow: 0 1px 2px rgba(0,0,0,.7);
		box-shadow: 0 5px 20px rgba(0,0,0,.7);
	}
}






a#filter-advice{
	display: block;
	box-shadow: 0 3px 20px rgba(0,0,0,.3);
	margin: 10px 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 	300px;
	@extend .anim;
	img{
		display: block;
		width: 100%;
		height: auto;
	}
	span{
		display: block;
		padding: 10px;
		font-size: 13px;

		color: #fff;
		opacity: .9;
		text-shadow: 0 1px 2px rgba(0,0,0,.5);
		
		@extend .anim;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#12bc69+0,0f9d58+39 */
		background: #12bc69; /* Old browsers */
		background: -moz-linear-gradient(top, #12bc69 0%, #0f9d58 39%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #12bc69 0%,#0f9d58 39%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #12bc69 0%,#0f9d58 39%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12bc69', endColorstr='#0f9d58',GradientType=0 ); /* IE6-9 */
			
	}
	&:hover{
		text-decoration: none;
		box-shadow: 0 5px 20px rgba(0,0,0,.7);
		span{
			opacity: 1;
			text-decoration: none;
			text-shadow: 0 1px 2px rgba(0,0,0,.7);
			
		}
	}
}


#checkout-contact-wrap .cc-row.cc-row-promo{
    padding-top: 30px;
}
.cc-row-promo .notice{
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    color: #f00;
    font-weight: bold;
    padding-top: 20px;
}