body {
	font-family: sans-serif;
	font-display: swap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.66em;
}
a{
    text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer-container{
    margin-top: auto;
}
#page-heading{
    margin: 0 0 2rem !important;
}