// Input styles
@mixin input-placeholder {
	&.placeholder { @content; }
	&:-moz-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&::-webkit-input-placeholder { @content; }
}

// Media queries
@mixin media-breakpoint-up($breakpoint) { 
	@if map-has-key($grid-breakpoints, $breakpoint) {
		@media (min-width: #{map-get($grid-breakpoints, $breakpoint)+1}) {
			@content;
		}
	}
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
			+ "Please make sure it is defined in `$breakpoints` map.";
	}
}

@mixin media-breakpoint-down($breakpoint) { 
	@if map-has-key($grid-breakpoints, $breakpoint) {
		@media (max-width: #{map-get($grid-breakpoints, $breakpoint)}) {
			@content;
		}
	}
	@else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
			+ "Please make sure it is defined in `$breakpoints` map.";
	}
}




// legacy

$mobile:      #{"only screen and (max-width: 766px)"};
$tablet:      #{"only screen and (min-width: 767px) and (max-width: 949px)"};
$tablet-up:      #{"only screen and (min-width: 767px)"};
$tablet-down:      #{"only screen and (max-width: 949px)"};
$desktop:     #{"only screen and (min-width: 950px) and (max-width: 1270px)"};
$desktop-xl:  #{"only screen and (min-width: 1270px)"};
$desktop-up:     #{"only screen and (min-width: 950px)"};

$ie10: #{"all and (-ms-high-contrast:none)"};


.oh{
  overflow: hidden;
}
.no-top-padding{
  padding-top: 0 !important;
}
.an{
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
}

.hide-on-desktop{
  @media only screen and (min-width: 950px){
    display: none !important;
  }
}
.hide-on-tablet{
  @media only screen and (min-width: 767px) and (max-width: 949px){
    display: none !important;
  }
}
.hide-on-mobile{
  @media only screen and (max-width: 766px){
    display: none !important;
  }
}

@media only screen and (max-width: 420px){
  .hide-for-mobile{
    display: none;
  }
}
.anim{
  transition: all 400ms ease;
}
$bWhite: #fff;
$bLight: #cecece;
$bDark: #252525;
$bYellow: #ffd800;

.fr{float:right;display: inline;}
.fl{float:left;display: inline;}

.hidden{
  display: none;
}

.popular{
    position: absolute;
    top:0;
    left:0;
    color: #f00;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    z-index: 1;
}