.single-product #product-heading .popular{
    position: relative;
}
#price-table{
    display: block;
    overflow: hidden;
    padding: 20px 0;
  
    .heading-row{
      border-bottom: 1px solid #eee;
    }
    
    .heading-row,.product-row{
      overflow: hidden;
      clear: both;
    }
    .product-availability,.product-price,.product-quantity,.product-to-cart{
      float: left;
      display: inline;
    }
    .product-sku{
      float: right;
      @media only screen and (max-width: 766px){
        float: left;
      }
    }
  
    .heading-row{
      font-size: 12px;
      opacity: .5;
      padding: 10px;
      @media only screen and (max-width: 766px){
        padding: 0;
        font-size: 11px;
      }
    }
  
  
  
    .heading-row,.product-row{
      .product-availability{
        width: 80px;
        text-align: center;
        @media only screen and (max-width: 766px){
          width: 60px;
        }
      }
      .product-price{
        width: 80px;
        @media only screen and (max-width: 766px){
          width: 60px;
        }
      }
      .product-quantity{
        width: 80px;
        @media only screen and (max-width: 766px){
          width: 60px;
        }
      }
      .product-to-cart{
        width: 125px;
        display: flex;
        input,.to-cart{
            border-radius: 0;
            border: 1px solid green;
            font-size: 16px;
            line-height: 100%;
            padding: 3px 0;
        }
        input{
          width: 20px;
          text-align: center;
        }
        .to-cart{
          background-color: green;
          color: white;
          padding-left: 5px;
          padding-right: 5px;
          cursor: pointer;
        }
      }
    }
    .product-row{
      border-bottom: 1px solid #eee;
      padding: 10px;
      @media only screen and (max-width: 766px){
        padding: 10px 0;
        font-size: 14px;
      }
      &:last-of-type{
        border-bottom: none;
      }
      .product-availability{
        .available{
          color: green;
        }
        .not-available{
          color: red;
        }
      }
      .product-quantity{
        opacity: .8;
        font-size: 90%;
      }
      .product-sku{
        font-size: 12px;
        opacity: .5;
      }
    }
    
  }



.single-product #frequently-purchased-with{
    a{
        color: $bDark;
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    h3{
        font-size: 18px;
        font-weight: bold;
        color: $bDark;
        background: $bYellow;
        display: inline-block;
        padding: 5px 10px;
    }
    .products{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @include media-breakpoint-down(lg){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .product{
            width: 190px;
            position: relative;
            border-right: 1px solid $bYellow;
            border-bottom: 1px solid $bYellow;
            @include media-breakpoint-down(lg){
                width: auto;
            }
            .product-image{
                width: 100%;
                height: 190px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .details{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
            .details__description{
                .type{
                    font-size: 11px;
                    font-style: italic;
                    display: block;
                    line-height: 1;
                }
                .name{
                    font-weight: bold;
                }
            }
            .buy{
                background: $bYellow;
                text-align: center;
            }
            .to-cart-upsale{
                align-self: flex-end;
                
                margin-top: 5px;
                background-color: green;
                color: white;
                padding: 5px 10px;
            }
        }

    }
}